services:
  backend:
    build: ./server
    container_name: fishing-backend
    ports:
      - "5000:5000"
    restart: unless-stopped

  frontend:
    build: ./client
    container_name: fishing-frontend
    ports:
      - "4200:4200"
    depends_on:
      - backend
