<div class="page-wrapper">
  
  <h2 style="text-align: center; color: white; margin-bottom: 30px; text-shadow: 0 2px 5px rgba(0,0,0,0.5);">
    Galeria Mea
  </h2>

  <div *ngIf="capturi.length === 0" style="text-align: center; color: white; margin-top: 50px;">
    <h3>Încă nu ai adăugat nicio captură.</h3>
    <p>Mergi la "Adaugă Captură" și laudă-te cu primul pește!</p>
  </div>

  <div class="capturi-grid">
    <div *ngFor="let captura of capturi" class="catch-card">
      
      <div class="card-image">
        <img 
          [src]="getSanitizedUrl(captura.poza_url)" 
          alt="Peste"
        >
      </div>
      <button *ngIf="!captura.is_public" (click)="publishToFeed(captura.id)" class="btn-post">
    Postează în Feed
</button>
<span *ngIf="captura.is_public" style="color: green;"> Publicat</span>
      <div class="card-content">
        <h3>{{ captura.specie }}</h3>
        <p style="color: #27ae60; font-weight: bold;">
          📏 {{ captura.lungime }} cm
        </p>
        <p style="color: #555; font-size: 0.9rem; margin-bottom: 15px;">
          {{ captura.detalii }}
        </p>
        
        <div class="card-actions">
           <button [routerLink]="['/edit-catch', captura.id]" class="btn-edit">
             ✏️ Editează
           </button>
           
           <button (click)="onDelete(captura.id)" class="btn-delete">
             🗑️ Șterge
           </button>
        </div>
      </div>

    </div>
  </div>

</div>